---
// helpers
import { Image } from "astro:assets";

// components
import Link from "@ui/Link.astro";
import Heading from "../ui/Heading.astro";
---

<header aria-label="Introduction to Rob" class="hero-projects">
    <div>
        <Heading tagName="h1" size="h2">Projects</Heading>
        <p>Here are some recent websites and apps you can explore for yourself!</p>
    </div>
</header>