---
export const prerender = false;

import BaseLayout from "../../layout/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("404");
}

const post = await getEntry("posts", slug);

if (!post) {
  return Astro.redirect("404");
}
---

<BaseLayout>
  <h1>{post.data.title}</h1>
  <img src={post.data.cover.src} alt={post.data.coverAlt} />
</BaseLayout>
