---
export const prerender = false;

//import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layout/BaseLayout.astro";

// export const getStaticPaths = (async () => {
//     const pokemons = await getCollection("pokemons");
//     return pokemons.map((pokemon) => ({
//         params: { slug: pokemon.data.id },
//         props: { pokemon }
//     }));
// }) satisfies GetStaticPaths;

// const { pokemon } = Astro.props;
// const { name, url } = pokemon.data; 

const { slug } = Astro.params;

if (!slug) {
    return Astro.redirect("404");
}

const pokemon = await getEntry("pokemons", slug);

if (!pokemon) {
    return Astro.redirect("404");
}

const { name, url } = pokemon.data;
const moreResponse = await fetch(url);
const moreData = await moreResponse.json();
---

<BaseLayout>
    <h1>{ name }</h1>
    <a href={url} target="_blank">Learn more</a>
    {
        moreData && moreData.sprites && moreData.sprites.front_default && (
            <img src={moreData.sprites.front_default} alt={name} />
        )
    }
</BaseLayout>