---
import { getCollection } from "astro:content";
import BaseLayout from "../../layout/BaseLayout.astro";

const pokemons = await getCollection("pokemons");
---

<BaseLayout>
    <h1>Pokemons</h1>
    <ul role="list">
        {
            pokemons.map((pokemon) => (
                <li>
                    <a href={`/pokemon/${pokemon.data.id}`}>{pokemon.data.name}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>