---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const teamData = await getCollection("team");
---

<BaseLayout>
  <h1>Homepage</h1>
  <ul>
    {
      teamData.map((member) => (
        <li>
          {member.data.name}
        </li>
      ))
    }
  </ul>
</BaseLayout>
