---
import cards from "../data/cardData.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      cards.map((card) => (
        <div>
          <h1>{card.title}</h1>
          <p>{card.description}</p>
        </div>
      ))
    }
  </body>
</html>
