---
import {Icon} from "astro-icon/components";

import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import Counter from "../components/Counter";

const headings = [
	{
		tagName: "h1",
		size: "h2",
		text: "Heading 1"
	},
	{
		tagName: "h2",
		size: "h5",
		text: "Heading 2"
	},
	{
		tagName: "h3",
		size: "h6",
		text: "Heading 3"
	},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Heading tagName="h2" size="h4" classes="big">Heading</Heading>
		{
			headings.map(h => (<Heading tagName={h.tagName as any} size={h.size as any}>{h.text}</Heading>))
		}
		<Button classes="large funny" id="my-button" isBordered background="white" color="black">
			<span>I'm a button</span>
			<Icon name="mdi:github" size={40} />
		</Button>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <Counter client:visible />
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
		  <p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ratione
			aut nam incidunt beatae, fugit vitae accusantium, ipsum enim totam rerum
			maiores aliquam?
		  </p>
	</body>
</html>
