---
import { db, Logs } from "astro:db"
const logs = await db.select().from(Logs);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>This is some PRIVATE INFO</p>
		<section>
			<h2>Logs</h2>
			<ul>
				{
					logs.map((log) => (
						<li>
							{log.url} - {log.date_accessed.toLocaleDateString()}
						</li>
					))
				}
			</ul>
		</section>
	</body>
</html>
