---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const teamData = await getCollection("team");
const posts = await getCollection("posts");
console.log("🚀 ~ posts:", posts)

---

<BaseLayout>
  <h1>Homepage</h1>
  <ul>
    {
      teamData.map((member) => (
        <li>
          {member.data.name}
        </li>
      ))
    }
  </ul>
  <ul>
    {
      posts.map((post) => (
        <li>
          {post.data.title}
        </li>
      ))
    }
  </ul>
</BaseLayout>
