---
import { getImage, Image, Picture } from "astro:assets";
import katie from "../assets/image.jpg";

const optImage = await getImage({
	src: katie, 
	format: "avif",
	width: 240
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style={`background-image: url(${optImage.src})`}>
		<!-- <Image 
			src={katie}
			alt="Katie Haus"
			widths={[240, 400, katie.width]}
		/> -->
		<!-- <Picture 
			src={katie}
			alt="Katie Haus"
			widths={[240, 400, katie.width]}
			fallbackFormat="jpg"
			formats={["avif", "webp", "jpg", "png"]}
		/> -->

	</body>
</html>
