---
import type { Code, Debug } from "astro:components";
import PricingCard from "../components/PricingCard.astro";
import data from "../data/cardData.json";
console.log(data);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		{
			data && data.length && data.map(d => <PricingCard {...d} />)
		}
	</body>
</html>
