---
// library imports
import type { Code, Debug } from "astro:components";

// component imports
import PricingCard from "../components/PricingCard.astro";

// style imports
import "../styles/main.css";

// data imports
import data from "../data/cardData.json";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="card-wrapper">
			{
				data && data.length && data.map(d => <PricingCard {...d} />)
			}
		</div>

		<style>
			.card-wrapper {
				display: flex;
				gap: var(--space-xl);
				flex-wrap: wrap;
			}
		</style>
	</body>
</html>