---
const { 
	classes, 
	isBordered, 
	background = "#fff", 
	color = "#000", 
	...rest 
} = Astro.props;
---

<button class:list={["btn", classes, {border: isBordered}]} {...rest}>
	<slot />
</button>

<style 
	define:vars={{
		background,
		color
	}}
>
	.btn {
		font: inherit;
		display: flex;
		gap: 0.25rem;
		align-items: center;
		cursor: pointer;
		border: none;
		padding: 4px 16px;
		background: var(--background);
		color: var(--color);
	}
	.border {
		border: 1px groove peru;
	}
</style>