---
// helpers
import { Icon } from "astro-icon/components";

// data
import { socialData } from "@/data/siteData";
---

<footer>
    <div>
        <p>
            &copy; <span id="copyright">{new Date().getFullYear()}</span> Katie Haus. All 
            rights reserved. I’m a skilled web developer passionate about creating innovative
            and user-friendly websites.
        </p>
        <ul>
            {
                socialData.map(({href, title, icon}) => (
                    <li>
                        <a href={href} aria-label={title} title={title} target="_blank">
                            <Icon name={icon} size={24} aria-hidden="true" />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</footer>

<script>
    setTimeout(() => {
        const copyrightSpan = document.querySelector("#copyright") as HTMLSpanElement;
        copyrightSpan.textContent = new Date().getFullYear().toString();
    }, 2e3);
</script>